
<body>

  <div class="top-title">
    <h1>ようこそ <strong> Bookers </strong> へ!</h1>
  </div>

  <div class="top-message">
    <p><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
    <p>印象を共有し交換することができます</p>
    </p>
  </div>

  <div class="start-link"><%= link_to "Start", "/books" %></div>

</body>
